@model File_Transfer_System.Models.FileInfoModel

@{
    ViewBag.Title = "CreateFile";
}

@using (Html.BeginForm("SaveFileDetails", "CreateFile", FormMethod.Post, new { @id = "CreateFileForm", autocomplete = "off" }))
{

    <div class="createTable tableBlock">
        <div class="row">
            <table class="table">
                <tr class="selectedActivies">
                    <td colspan="3">
                        <div class="col-sm-12 p-1">
                            <div class="row">
                                <div class="activities col-sm-12 "><span class="titleHead">Create File</span></div>
                            </div>
                        </div>
                    </td>
                </tr>
                
                <tr>
                    <td class="tableTH">File No.</td>
                    <td class="p-0 ">
                        @Html.TextBox("FileNo", "", new { @class = "w-100 text-left pl-10 pr-10" })
                        @*@Html.ValidationMessage("TenderFileNo", "", new { @class = "text-danger" })*@
                    </td>
                </tr>
                <tr>
                    <td class="tableTH">Vigilance Case</td>
                    <td  class="p-0">
                        @Html.TextBox("VigilanceCase", "", new { @class = "w-100 text-left pl-10 pr-10" })
                    </td>
                </tr>
                <tr>
                    <td class="tableTH">Subject</td>
                    <td class="p-0">
                        @Html.TextBox("Subject", "", new { @class = "w-100 text-left pl-10 pr-10" })
                    </td>
                </tr>
                <tr>
                    <td class="tableTH">Remarks</td>
                    <td class="p-0">
                        @Html.TextBox("Remarks", "", new { @class = "w-100 text-left pl-10 pr-10" })
                    </td>
                </tr>
                <tr>
                    <td class="tableTH">Serial No</td>
                    <td  class="p-0">
                        @Html.TextBox("SerialNo", "", new { @class = "w-100 text-left pl-10 pr-10" })
                    </td>
                </tr>
                <tr>
                    <td class="tableTH">File Type</td>
                    <td class="p-0">
                        @Html.TextBox("FileType", "", new { @class = "w-100 text-left pl-10 pr-10" })
                    </td>
                </tr>
                               <tr>

                    @*<td class="tableTH">@Html.LabelFor(model => model.Files, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                        <td>
                            @Html.TextBoxFor(model => model.Files, "", new { @type = "file", @multiple = "multiple" })
                        </td>*@
                    @*<td>File:</td>
                        <td><input type="file" name="File" multiple="multiple" /></td>*@


                    <td>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                           
                                @Html.Label("lblfile", htmlAttributes: new { @class = "control-label col-md-2" })
                    </td>
                    <td>
                        <div class="col-md-10">
                            @Html.TextBox("fileControl", "", new { @type = "file", @multiple = "multiple" })

                        </div>
                    </td>

                        @*<span>Select File:</span>
                            <input type="file" name="selectedfile" id="selectedfile" multiple="multiple" />
                            <hr />*@


                        @*<label for="otherAttach_1" class="bold">
                            <img src="/Assets/images/attachment.png" width="10px" /> lblfile
                        </label>
                    </td>
                    <td>
                        <div class="attachFilenm d-none" id="divOtherFileName_1">
                            <span class="bold fileName othrfileName"></span>
                            <button type="button" class="removeButton otherAttach_1" onclick="removeName(this);">X</button>
                            <img class="attachImg" src="/Assets/images/AllFile.svg" />
                        </div>
                        @Html.TextBox("fileControl", null, new { @class = "form-control col-sm-8 d-none", type = "file", @id = "otherAttach_1",@name= "otherAttach_1", @multiple = "multiple" })


                    </td>*@
                </tr>

                <tr>
                    <td>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10 text-success">
                                <span style="color:green">@Html.Raw(ViewBag.UploadStatus)</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="p-0">

                        <div class="col-sm-12">
                            <div class="row align-items-center">
                                <div class="col-sm-8 enqBtnsDiv p-0">
                                    <button type="button" class="submitEnq cancelEnq" id="btnCancel" onclick="clearData();">Cancel</button>
                                    <button type="button" class="submitEnq" id="btnSave"onclick="submitFunction()">Save</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="modal fade" id="successModel" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header modelHeader">
                    <span class="modal-title modalMsgTitle" id="modalTitle"></span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label id="modalBody" class="lableMsg">  </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="submitBomBtn publishBtn" id="modalOkButton">OK</button>
                </div>
            </div>
        </div>
    </div>
}


<script>

    /*** upload file styleing */

    function successModal() {
        $('#modalTitle').html('Success');
        $('#modalBody').html('File Saved successfully');
        $("#modalOkButton").attr('onclick', "window.location.reload();");
        $("#successModel").modal('show');
    };

    function failureModal() {
        $('#modalTitle').html('Failure');
        $('#modalBody').html('Error: While saving the file details.');
        $("#modalOkButton").attr('data-dismiss', 'modal');
        $("#successModel").modal('show');
    };

    //$("#btnSave").click(function () {
    //    debugger;
    //    var formData = $("#CreateFileForm").serialize();
    //    //var files = $("#selectedfile").get(0).files;
    //    //var fileData = new FormData();

    //    //for (var i = 0; i < files.length; i++) {
    //    //    fileData.append("selectedfile", files[i]);
    //    //}


    //    //var files[] = $("#selectedfile").val();

    //    $.ajax({
    //        type: "POST",
    //        url: '/CreateFile/SaveFileDetails',
    //        dataType: "JSON",
    //        data: formData,
    //        success: function (data) {
    //            if (data > 0) {
    //                successModal();
    //            }
    //            else {
    //                failureModal();
    //            }
    //        },
    //        error: function (courses) {
    //            failureModal();
    //        }
    //    });

    //});

    function submitFunction(value) {
        debugger;
        var form = $('#CreateFileForm');
        form.submit();
    };

    $("#otherAttach_1").change(function () {
        debugger;
        var filename = this.files[0].name;

        $("#divPsFileName_1 span").text(filename);
        $("#divPsFileName_1").removeClass('d-none');
        $('label[for=otherAttach_1]').closest('label').attr('style', 'color:black');

    });

    //remove function
    function removeName(elem) {
        $(elem).parent().addClass('d-none');
        var className = $(elem).attr('class');
        var id = className.replace(/\s+/g, "").replace('removeButton', '');
        $('#' + id).val('');
    }

</script>
